
<p>Beta signups: <strong>{{ users|length }}</strong></p>

{% if users %}
	
	<table class="common-table zebra-striped">
	{% for user in users %}
		
		<tr><td>{{ user.email }}</td><td>
		<form action="{{ app.url_for('admin', 'invite') }}" method="post">
		<input type="hidden" name="email" value="{{ user.email }}">
		{{ user.days_waiting }} &middot; {{ user.days_waiting }} days ago
		<input type="submit" value="Invite" class="btn" />
		</form>
		</td></tr>
		
	{% endfor %}
	</table>
	
{% endif %}
