
<p>Users: <strong>{{ users|length }}</strong></p>

<form action="{{ app.url_for('admin', 'grant_invites') }}" method="get">
  Grant invites: <input type="text" name="count" value="1" /> <input type="submit" value="Send" class="btn" />
</form>

{% if users %}

  <table class="common-table zebra-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Credits</th>
        <th>Last login</th>
      </tr>
    </thead>
    <tbody>

  {% for user in users %}

    <tr><td><a href="/{{ user.username }}; ?>">{{ user.username }}</a></td><td>{{ user.points }}</td><td>{{ user.last_login }}</td></tr>

  {% endfor %}

  </tobdy>
  </table>

{% endif %}
