{% if app.config.items['uploads']['enabled'] and item.image and item.image != '0' %}
	{% if not item.title %}<div class="clear">{% endif %}
	<a href="{{ app.echo_url_for('items', 'show', item.id) }}">
		<img src="{{ app.config.base_dir ~ app.config.items['uploads']['directory'] ~ '/stream/' ~ item.image }}"
			 style="margin: 0px 0px 10px 0px;" />
	</a>
	{% if not item.title %}</div>{% endif %}
{% endif %}

{% if app.plugins.gravatar %}
	{# Need a better way to pass parameters to gravatar.show #}
	{{ app.plugins.gravatar.show(item.user.email) }}
{% else %}
	{{ app.link_to(item.user.username, 'users', 'show', item.user.id) }}
{% endif %}


{% if app.config.items['titles']['enabled'] and item.title %}
	<h4>{{ app.link_to(item.title, 'items', 'show', item.id) }} <small>by {{ app.link_to(item.user.username, 'users', 'show', item.user.id) }}</small></h4>

	<p class="clear">{{ item.content }}</p>
{% elseif item.content %}
		<p>
			<strong>
				{{ app.link_to(item.user.username, 'users', 'show', item.user.id) }}
			</strong>
			{{ item.content }}
		</p>
{% endif %}


// Find if current user likes the item
$i_like = FALSE;
if (is_array($this->item->likes)) {
	foreach ($this->item->likes as $value) {
		if (isset($_SESSION['user_id']) && $value->user->id == $_SESSION['user_id']) {
			$i_like = TRUE;
		}
	}
}

?>

<!-- Begin item -->
    
<!-- Content -->
{% if not config.private %}
	<span style="float: right; margin-left: 20px;">
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ app.url_for('items', 'show', item.id) }}" data-text="{{ item.title }}" data-count="none">Tweet</a>
		<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
	    <iframe src="http://www.facebook.com/plugins/like.php?href={{ app.url_for('items', 'show', item.id) }}&amp;layout=button_count&amp;show_faces=true&amp;width=100&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
	</span>
{% endif %}
	
<!-- Meta -->
<p class="item_meta">

{{ app.link_to(item.date, 'items', 'show', item.id) }}

	{% if app.config.items['comments']['enabled'] %}
		&middot <a href="#" onclick="document.getElementById('comment_form_{{ item.id }}').style.visibility='visible'; document.getElementById('comment_form_{{ item.id }}').style.height='auto'; document.getElementById('comment_form_{{ item.id }}').content.focus(); return false;">{{ app.config.items['comments']['name'] }}</a>
	{% endif %}

	{% if app.config.items['likes']['enabled'] %}
	{% endif %}

	{% if item.user.id == session['user_id'] %}
		&middot; <a onclick="return confirm('Are you sure you want to delete this?')" href="{{ app.url_for('items', 'remove', item.id) }}">Delete</a>;
	{% endif %}
   
</p>

	if ($this->config->items['likes']['enabled'] == TRUE) {
		if ($i_like == TRUE) {
			echo ' &middot <span id="like_link_'.$this->item->id.'"><a href="#" onclick="like_remove(\''.BASE_DIR.'\', '.$this->item->id.', \''.$this->config->items['likes']['name'].'\', \''.$this->config->items['likes']['opposite_name'].'\'); return false;">'.$this->config->items['likes']['opposite_name'].'</a></a></span>';
		} else {
			echo ' &middot <span id="like_link_'.$this->item->id.'"><a href="#" onclick="like_add(\''.BASE_DIR.'\', '.$this->item->id.', \''.$this->config->items['likes']['name'].'\', \''.$this->config->items['likes']['opposite_name'].'\'); return false;">'.$this->config->items['likes']['name'].'</a></a></span>';
		}

	}

{% if app.config.items['likes']['enabled'] %}
	<!-- Likes -->
	{% include 'partials/likes.html' %}
{% endif %}

{% if app.config.items['comments']['enabled'] %}
	<!-- Comments -->
	{% include 'partials/comments.html' %}
{% endif %}

<!-- Spacer -->
<p>&nbsp;</p>

<!-- End item -->
