body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	line-height: 18px;
}

h1 {
	font-size: 140%;
}

h1:a {
	text-decoration: none;
}

h2 {
	font-size: 100%;
	font-weight: bold;
}

a:link {
	color: #000066;
	text-decoration: underline;
}

a:active {
	color: #999999;
	text-decoration: underline;
}

a:visited {
	color: #000000;
	text-decoration: underline;
}

a:hover {
	color: #0033FF;
	text-decoration: none;
}

.align_left {
	text-align: left;
}

.align_right {
	text-align: right;
}

#content {
	position: absolute;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 5%;
	width: 40%;
	word-wrap: break-word;
	min-height: 600px;
	padding-bottom: 60px;
}

#header {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 0px 10px 0px 10px;
	border-left: 1px black solid;
	border-bottom: 1px black solid;
	padding: 10px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #666666;
	text-align: left;
	border-top: 1px #CCCCCC solid;
	font-size: 75%;
}

/*
*	
*	CSS3 Corner Banner by Chris Cagle
*
*	http://www.cagintranet.com/archive/css3-corner-banner-with-ie-fallback/
*
*/

#corner-banner { 
	position: absolute;
	left: -65px;
	top: 15px;
	display: block;
	width: 200px;
	background: #333;
	background: -moz-linear-gradient(top, #333 0%, #000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(100%,#000));
	text-align:center;
	color: white;
	padding:3px 3px 4px 3px;
	text-shadow: #000 1px 1px 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-shadow: rgba(0,0,0, 0.2) 0px 0px 6px;
	-moz-box-shadow: rgba(0,0,0, 0.2) 0px 0px 6px;
	-webkit-box-shadow: rgba(0,0,0, 0.2) 0px 0px 6px;
}

.float_right {
	float: right;
}

#footer a, #footer a:visited {
	color: #666666;
}

.byline {
	font-style: italic;
}

.center_container {
	text-align: center;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.message {
	background: #fff9d7;
	padding: 10px;
	text-align: center;
}

.small {
	font-size: 75%;
}

a.buy_credits {
	color: red;
}

.invite_accepted {
	color: green;
}

.item_title {
	font-size: 200%;
	line-height: 100%;
	text-align: left;
}

.item_meta_info {
	font-size: 75%;
	color: gray;
}

.bottom_separator {
	border-bottom: 1px #CCCCCC solid;
}

.clear {
	clear: both;
}
