
<div class="row">
  <div class="span6 offset3">

    <ul class="nav nav-tabs">
      <li{% if page == 'profile' %} class="active"{% endif %}>{{ app.link_to('Profile', 'settings', 'profile') }}</li>
      <li{% if page == 'password' %} class="active"{% endif %}>{{ app.link_to('Password', 'settings', 'password') }}</li>
    </ul>

{% if page == 'password' %}

<form action="{{ app.url_for('users', 'update', 'password') }}" method="post">
  <fieldset>
    <legend>Change password</legend>
    <div class="clearfix">
      <label for="old_password">Old password</label>
      <div class="input">
        <input class="medium" name="old_password" size="30" type="password" />
      </div>
    </div> <!-- /clearfix -->
    <div class="clearfix">
      <label for="new_password1">New password</label>
      <div class="input">
        <input class="medium" name="new_password1" size="30" type="password" />
      </div>
    </div> <!-- /clearfix -->
    <div class="clearfix">
      <label for="new_password2">New password again</label>
      <div class="input">
        <input class="medium" name="new_password2" size="30" type="password" />
      </div>
    </div> <!-- /clearfix -->
    <div class="actions">
      <button type="submit" class="btn primary">Save</button>
    </div>
  </fieldset>
</form>

{% elseif page == 'profile'  %}

    <form action="{{ app.url_for('users', 'update', 'profile') }}" method="post">
      <fieldset>
        <legend>Update profile</legend>
        <div class="clearfix">
          <label for="name">Full name</label>
          <div class="input">
            <input class="medium" name="full_name" size="30" type="text" value="{{ user.full_name }}" />
          </div>
        </div> <!-- /clearfix -->
        <div class="clearfix">
          <label for="bio">Bio</label>
          <div class="input">
            <input class="medium" name="bio" size="30" type="text" value="{{ user.bio }}" />
          </div>
        </div> <!-- /clearfix -->
        <div class="clearfix">
          <label for="url">URL</label>
          <div class="input">
            <input class="medium" name="url" size="30" type="text" value="{{ user.url }}{% if user.url is empty %}http://{% endif %}" />
          </div>
        </div> <!-- /clearfix -->
        <div class="actions">
          <button type="submit" class="btn primary">Save</button>
        </div>
      </fieldset>
    </form>

{% endif %}

  </div>
</div>
